# Firebase config — same project as Samachar-Sathi & Pariksha-Sathi for SSO
VITE_FIREBASE_API_KEY=AIzaSyC6Cpg83N8fBuvY7YOSwTWsfM9DUsaVc3E
VITE_FIREBASE_AUTH_DOMAIN=pariksha-sathi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pariksha-sathi
VITE_FIREBASE_STORAGE_BUCKET=pariksha-sathi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=921721697043
VITE_FIREBASE_APP_ID=1:921721697043:web:dada90a420c40e11ae60e6
VITE_FIREBASE_MEASUREMENT_ID=G-NC7955J7KV
